@use "../../import" as var;

.u-list {
  li {
    line-height: 1.867;
    transform: rotate(0.05deg);
  }

  &--disc {
    padding-left: 24px;
    list-style: disc;
  }

  &--work-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(50% - 10px);
      aspect-ratio: 1/1;
      background-color: #fff;
      border-radius: 100px;
    }
  }
}
