@use "../../import" as var;

.p-rentalCar {
 &__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px
 }

 &__item {
  width: calc((100% - 48px) / 4);
  overflow: hidden;
  font-size: 14px;
  border: 1px solid var(--color-border);
  border-radius: 8px;

  @include var.mq(max, tb_min) {
   width: calc((100% - 32px) / 3);
  }

  @include var.mq(max, sp) {
   display: flex;
   width: 100%;
   border: none;
   border-radius: 0;;

   &+& {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid var(--color-border);
   }
  }

  figure {
   aspect-ratio: 3/2;

   @include var.mq(max, sp) {
    width: 60%;
   }
  }
 }

 &__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 12px 12px 12px;

  @include var.mq(max, sp) {
   gap: 8px;
  }
 }

 &__heading {
  display: flex;
  align-items: center;
  width: calc(100% + 24px);
  padding: 8px 12px;
  margin-inline: -12px;
  font-size: 14px;
  background-color: #ebebeb;

  @include var.mq(max, sp) {
   display: block;
   width: auto;
   padding: 0;
   margin: 0;
   font-weight: 700;
   background-color: transparent;
  }
 }

 &__description {
  font-size: 12px;

  &.u-fw--600 {
   @include var.mq(max, sp) {
    font-weight: 500;
   }
  }

  &.is-sp-gray {
   @include var.mq(max, sp) {
    font-size: 11px;
   }

   .fa {
    margin-right: 4px;
    font-size: 16px;
    color: #b4b4b4;
   }
  }
 }
}