@use "../../import" as var;

.c-addShopMenu {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  justify-content: center;
  overflow: visible;
  margin: 40px 0 0 0;

  @include var.mq(max, sp) {
    margin: 16px 0 0 0;
  }

  &__con {
    white-space: nowrap;
    flex-grow: 1;
    display: flex;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: clip;
  }

  &__wrapper {
    display: flex;
    margin: 0;
    padding: 0 30px;
    width: 100%;
    height: auto;
    list-style: none;
    transition: transform 0.3s ease-in-out;

    @include var.mq(max, sp) {
      flex-wrap: wrap;
      gap: 0;
    }
  }

  &__item {
    position: relative;
    min-width: 200px;
    height: 50px;
    display: inline-block;
    flex-grow: 1;

    @include var.mq(max, sp) {
      min-width: 48%;
    }

    &-link {
      font-size: 16px;
      width: 95%;
      text-decoration: none;
      color: var(--color-main);
      font-size: 16px;
      font-weight: bold;
      padding: 10px;

      @include var.mq(max, sp) {
        font-size: 12px;
      }
    }

    &-child {
      position: absolute;
      left: 0;
      top: 62px;
      z-index: 4;
      background: #28bfe7;
      width: 180px;
      visibility: hidden;
      opacity: 0;
      transition: all 2s;
    }
  }

  &__dropdown {
    &-menu {
      display: none;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      border: 1px solid #ccc;

      &.active {
        display: flex;
        flex-direction: column;
      }
    }
    &-item {
      padding: 10px 0;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #eee;
      }

      a {
        padding: 10px 15px;
      }
    }
  }

  &__slideBtn {
    background-color: #d9d9d9;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    z-index: 20;

    @include var.mq(max, sp) {
      display: none;
    }

    &-left {
      position: absolute;
      left: 0;

      &:before {
        content: "◀";
      }
    }

    &-right {
      position: absolute;
      right: 0;

      &:before {
        content: "▶";
      }
    }
  }
}
