@use "../../import" as var;

.c-addShopMenu {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  justify-content: center;
  overflow: visible;
  margin: 40px 0 0 0;

  &__wrapper {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    transition: transform 0.3s ease-in-out;
    display: flex;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    transition: transform 0.3s ease-in-out;
  }

  &__con {
    white-space: nowrap;
    flex-grow: 1;
    display: flex;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: clip;
  }

  &__item {
    position: relative;
    min-width: 200px;
    height: 50px;
    display: inline-block;
    flex-grow: 1;
   

    &-link {
      font-size: 16px;
      width: 95%;
      text-decoration: none;
      color: var(--color-main);
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
    }

    &-child {
      position: absolute;
      left: 0;
      top: 62px;
      z-index: 4;
      background: #28bfe7;
      width: 180px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__subMenu {
    a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 1em 0;
      background-color: #fff;
      color: var(--color-main);
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }

    &-item {
      position: absolute;
      width: 100%;
      display: none;
      display: inline-block;
      position: relative;

      a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: normal;
        padding: 10px;
      }
    }
  }

  &__dropdown {
    &-con {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 10;
      top: 100%;
      left: 0;

      a {
        display: block;
        padding: 12px 16px;
        color: #333;
        text-decoration: none;

        &:hover {
          background-color: #ddd;
        }
      }
    }

    &:hover {
      .c-addShopMenu__dropdown-con {
        display: flex !important;
        flex-direction: column;
      }
    }
  }

  &__slideBtn {
    background-color: #d9d9d9;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    height: 50px;
    z-index: 20;

    &-left {
      position: absolute;
      left: 0;

      &:before {
        content: "◀";
      }
    }

    &-right {
      position: absolute;
      right: 0;

      &:before {
        content: "▶";
      }
    }
  }
}
