@use "../../import" as var;

.c-btn {
  transition: all 300ms ease-out;

  &.is-keep {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 24px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--color-border);

    svg {
      width: 16px;
      height: 18px;
      margin-right: 4px;
    }

    &:hover {
      color: #fff;
      background-color: #e1b901;
      border-color: #e1b901;

      svg {
        path {
          fill: #fff;
        }
      }
    }
  }

  &.is-kept {
    color: #c9c9c9;
    border-color: #c9c9c9;

    svg {
      path {
        fill: #c9c9c9;
      }
    }
  }

  &.is-review {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    padding: 10px 24px;
    margin-top: 0;
    color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 100px;

    &:hover {
      color: #fff;
      background-color: var(--color-main);
    }
  }

  &.is-fav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 48px;
    padding: 10px;
    margin-top: 0;
    border-radius: 8px;
    border: 2px solid var(--color-orange);
    cursor: pointer;
    transition: cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
  
    &::before {
      content: "★ お気に入りに追加";
      color: var(--color-orange);
    }

    &.is-checked {
      background-color: var(--color-gray);
      border: 2px solid var(--color-gray);

      &::before {
        content: "お気に入りに追加済み";
        color: #fff;
      }
    }
  }
}