@use "../../import" as var;

.c-label {
  padding: 4px 12px;
  font-size: var.fs(12, 14);
  color: #fff;
  border-radius: 4px;
  background-color: var(--color-main);

  .c-label__list--job & {
    padding-block: 8px;
    color: #000;
    background-color: var(--color_gray3);
    border: 1px solid var(--color_border);
    border-radius: 4px;
  }

  @include var.mq(max, sp) {
    padding: 2px 8px;
    border-radius: 0;
  }

  &.is-absolute {
    position: absolute;
    z-index: 10;
  }

  &__list {
    &--job {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-bottom: 40px;
    }
  }
}

*:has(>.is-absolute) {
  position: relative;
}