@use "../../../import" as var;

a {
    transition: all 300ms ease-out;

    &:hover {
        opacity: 0.8;
    }
}

.fa-home {
    color: #b4b4b4;
}

// over write
.p-header {
    height: var(--header-H);
}
