@use "../../../import" as var;

a {
    transition: all 300ms ease-out;

    &:hover {
        opacity: 0.8;
    }
}

.fa-home {
    color: #b4b4b4;
}

// over write
.p-header {
    height: var(--header-H);
}

// お気に入り
.p-news-radio#news-coupon:checked ~ .p-news__tab #tab-news-coupon {
    background-color: var(--color-main);
    color: #fff;
}
.p-news-radio#news-coupon:checked ~ .p-news__area #area-news-coupon {
    display: block;
}
.p-news-radio#news-coupon:checked ~ .p-news__area .p-news__content {
    animation: displayAnime cubic-bezier(0.23, 1, 0.32, 1) 0.8s forwards;
}